flows/Compare_Contacts_vs_Emps.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Find_Number_of_Contacts</name>
        <label>Find Number of Contacts</label>
        <locationX>265</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>NumberofContacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Coll_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Number_of_Emps</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_numOfContacts_and_numOfEmps_Equal</name>
        <label>Are numOfContacts and numOfEmps Equal?</label>
        <locationX>267</locationX>
        <locationY>471</locationY>
        <defaultConnector>
            <targetReference>Not_Equal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Equalval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberofContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NumberofEmp</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Equal</targetReference>
            </connector>
            <label>Equalval</label>
        </rules>
    </decisions>
    <interviewLabel>Compare Contacts vs Emps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compare Contacts vs Emps</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_Contacts</name>
        <label>Find Contacts</label>
        <locationX>269</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Number_of_Contacts</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Coll_Contacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Number_of_Emps</name>
        <label>Find Number of Emps</label>
        <locationX>267</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_numOfContacts_and_numOfEmps_Equal</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>NumberofEmp</assignToReference>
            <field>NumberOfEmployees</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Equal</name>
        <label>Equal</label>
        <locationX>367</locationX>
        <locationY>569</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Successmessage</name>
            <fieldText>There are the same number of Contacts and Employees.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Equal</name>
        <label>Not Equal</label>
        <locationX>201</locationX>
        <locationY>564</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Successmessage_0</name>
            <fieldText>The number of Contacts and Employees are different.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Find_Contacts</startElementReference>
    <status>Active</status>
    <variables>
        <name>Coll_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>NumberofContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberofEmp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
